.bimca-logo {
  height: 2.3rem;
  margin-left: 3rem;
  margin-top: 10px;
}

/* .landing-logo {
  max-width: 8rem;
  margin: 0.5rem auto 2rem auto;
  animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
  display: block;
}
  
  @keyframes logo-spin {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }*/

  .homepage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: transparent;
  }
  
  .navbar-title {
    margin: 0;
  }
  
  .login-button {
    margin-left: 1rem;
    margin-top: 10px;
  }
  

  .content-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: auto;
    background-image: url('/public/Arch-03.webp');
    background-size: cover;
    flex-grow: 1;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    padding: 7rem;
    margin-top: 5rem;
  }

  .right-content h1 {
    margin: 0;
    margin-left: 6px;
    text-align: left;
    color: #212b37;
    letter-spacing: 5px;
    font-weight: 800 !important;
  }
  
  .right-content h2 {
    margin: 0;
    text-align: left;
    padding: 0.5rem;
    color: #212b37;
    font-weight: 600;
  }
  .right-content p {
    margin: 0;
    margin-bottom: 0.5rem;
    max-width: 25%;
    text-align: left; 
    padding: 0.5rem;
    color: black;
    
  }

.left-content {
  flex: 1;
  background: rgba(0, 0, 0, 0.5);
}
  
@media screen and (max-width: 480px) {
  .bimca-logo {
    height: 1.5rem;
    margin-left: 1rem;
  }

  .login-button {
    margin-left: 0.5rem;
  }
  .content-container {
    background-position: right center;
  }
  .right-content p {
    max-width: 100%;
    line-height: 1.2;
  }
}


